@media screen and (min-width: 340px) {
	.b-logo {
		width: 220px;
		background-size: 220px;

	}
}

@media screen and (min-width: 540px) {
	.b-logo {
		width: 260px;
		background-size: 260px;

	}
}


@media screen and (min-width: 769px) {

	body, html {
		overflow: hidden;
	}
	
	.b-sidebar {
		height: 100%;
		margin-top: 0;
		width: 30%;
		position: relative;
		h2 {
			font-size: 20px;
			span {
			font-size: 14px;
		}
		}
	}



	.b-header-content {
		padding: 15px;
		width: 370px;
	}

	.b-menu-button {
		display: none;
	}

	.b-logo {
		display: none;

	}

	.b-logo_destop {
		
		margin-top: 103px;
		margin-bottom: 64px;
		//background-image:  inline-image('/sprites/logo.png');
		display: inline-block;
		background-size: 180px;
		width: 180px;

	}

	header {
		display: none;


	}

	.b-sidebar {
		
	}

	.c-content_with-scroll {
		padding-right: 20px;
	}

	.b-sidebar__content {
		
		height: 100%;
		padding: 30px;
		padding-top: 0;
		text-align: center;
		margin-top: 0;
		padding: 0 30px;
		overflow-y: scroll;
		padding-right: 10px;
	}

	.b-sidebar__text {
		position: relative;
		padding: 45px 0;
		text-align: left;
		


		

		&:before {
			display: block;
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 5px;
			background: #fff;
		}
	}

	.b-donate {
		position: relative;
		display: block;
		width: 100%;
		left: 0;
		bottom: 20px;
		@include box-sizing(border-box);

	}

	.b-donate-button_desktop {
		width: 100%;
		height: 75px;
		background: #bebebe;
		color: #fafafa;
		font-size: 19px;
		margin-top: 35px;
		@include transition(background 0.3s ease 0s);
		z-index: 2;
		position: relative;
		font-family: $din_m;
		&:after {
			display: block;
			content: "";
			position: absolute;
			top: -30px;
			left: 0;
			width: 100%;
			height: 5px;
			background: #fff;
			@include transition(top 0.4s ease 0.0s);
		}
		
	}

	.b-donate-button_desktop.open {
		&:after {
			top: -212px;
		}
	}

	.b-donate-button_desktop:hover {
		background: #f1363a;
		.b-donate__text {
			top: -209px;

		}
	}

	.b-donate__text {
		text-align: left;
		position: absolute;
		top: -5px;
		left: 0;
		width: 100%;
		background: #eaeaea;
		opacity: 1;
		height: 0;
		overflow: hidden;
		@include transition(top 0.5s ease 0.0s, opacity 0.5s ease 0.0s);
		@include box-sizing(border-box);
		

		h3 {
			font-size: 19px;
			padding-top: 60px;
			padding-bottom: 30px;
			font-family: $got_b;
			font-weight: 700;
			@include transition(opacity 0.4s ease 0.0s);
			opacity: 0;
		}

		p {
			font-size: 12px;
			padding-bottom: 40px;
			@include transition(opacity 0.4s ease 0.0s);
			opacity: 0;
		}
	}

	.b-donate__text.open {
		top: -209px;
		
		h3, p {
			@include transition(opacity 0.4s ease 0.0s);
			opacity: 1;
		}
		@include transition(top 0.4s ease 0s);
		height: auto;
	}

	.b-sidebar {
		float: left;
		position: relative;
	}

	.c-content {
		max-height: 100%;
		width: 64%;
		//float: right;
		position: absolute;
		right: 0px;
		top: 0;
		 -webkit-overflow-scrolling: touch
		
	}

	.c-wrapper.scroll {
	height: 92%;
}
	.c-wrapper {
		padding-top: 0;
	}

	.scroll .c-content {
		overflow: hidden;
		overflow-y: auto;
		//padding-right: 20px;
		@include box-sizing(border-box);
		height: auto;
	}

	.scroll .c-content_home {
		overflow-y: hidden;
		height: 100%;
	}

	.scroll .c-content_noscroll{
		height: auto;
	}



	footer {
		//padding-right: 20px;
	} 


	.b-main-nav {
		display: block;
		text-align: right;
		padding-top: 35px;
		margin-bottom: 73px;
	}

	.b-search_desktop {
		width: 96%;
		background: $grey;
		padding: 8px 10px 8px 10px;
		@include box-sizing(border-box);
		margin-bottom: 10px;
		border: 0;
	}

	.b-search_desktop:focus {
		position: relative;
	}

	.b-menu_desktop {
		text-align: left;
	}

	

	.b-search-layout_desktop {
		@include inline-block;
		position: relative;
		width: 47%;
	}

	.b-search-logo_desktop {
			position: absolute;
			left: 12px;
			top: 8px;
	}

	.b-search-logo_desktop_text {
		position: absolute;
		left: 42px;
		top: 12px;
		font-size: 14px;
		color: #bebebe;
	}

	.b-sesktop-search {
		margin-bottom: 27px;
	}

	.b-menu_desktop {
		overflow: hidden;
		li {
			float: left;
			width: 20.1%;
			margin-left: 6.5%;
			vertical-align: top;
			position: relative;
			overflow: hidden;
			&:after {
				content: "";
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 0 9px 9px 0;
				border-color: transparent #ff8400 transparent transparent;
				position: absolute;
				right: 0;
				top: -9px;
				@include transition(top 0.5s ease 0.6s);
			}
		}

		li.with-triangle:hover {
			&:after {
				@include transition(top 0.4s ease 0.4s);
				top:0
			}
		}

		li:first-child {
			margin-left: 0;
		}

		li a {
			color: #4d4d4d;
			font-size: 14px;
			@include inline-block;
			padding: 14px 0;
			padding-bottom: 0;
			position: relative;
			&:after {
				content: '';
				position: absolute;
				left: 0;
				bottom: 0;
				width: 0%;
				display: block;
				height: 2px;
				background: #4d4d4d;
				@include transition(width 0.5s ease 0s);
			}
		}

		li a:hover:after {
			width: 100%;
		}


		li a.b-hover-line_finish {
			&:after {
				width: 100%;
				left: auto;

			}
		}

		li a.b-hover-line_finish_end {
			&:after {
				right: 0;
				float: right;
				width: 0;
			}
		}

		li.menu-item_red  {
			border-top: 5px solid #f74524;
			&:after {
				border-color: transparent #f74524 transparent transparent;
			}
		}

		li.menu-item_brown  {
			border-top: 5px solid #c1795a;
			&:after {
				border-color: transparent #c1795a transparent transparent;
			}
		}

		li.menu-item_green  {
			border-top: 5px solid #71bbc6;
			&:after {
				border-color: transparent #71bbc6 transparent transparent;
			}
		}

		li.menu-item_black  {
			border-top: 5px solid #474b52;
			&:after {
				border-color: transparent #474b52 transparent transparent;
			}
		}
	}

	.hover-line:after {
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		width: 0%;
		display: block;
		height: 2px;
		background: #4d4d4d;
		@include transition(width 0.5s ease 0s);
	}

	.hover-line:hover:after {
		width: 100%;
	}

	.hover-line.b-hover-line_finish {
		&:after {
			width: 100%;
			left: auto;

		}
	}

	.hover-line.b-hover-line_finish_end {
		&:after {
			right: 0;
			float: right;
			width: 0;
		}
	}

	.hover-line {
		padding-bottom: 5px;
	}

	.b-side-link_red.hover-line:after {
		background: #ef2324;
	}


	.b-home-links {
		@include box-sizing(border-box);
		float: left;
		width: 47%;
		margin-left: 6%;
		padding: 47px;
		height: 100%;
		position: relative;
		overflow: hidden;

		p {
			line-height: 28px;
		}
		
	}

	.b-home-links:hover img {
		opacity: 0;
	}

	.b-patient-link {
		margin-left: 0;
		

	}

	.b-home-links {
		height: 100%;
	}



	.b-home-img-cont {
		position: absolute;
		top: -50%;
		left: -50%;
		width: 200%;
		height: 200%;

	}

	.b-home-img-cont img {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		min-width: 50%;
		min-height: 50%;
		width: auto;
		height: auto;
		opacity: 0.3;
		@include translate3d(0,0,0);
		@include transition(opacity 0.4s ease 0.1s);
	}

	.b-home-links__text {
		position: relative;
		z-index: 2;
	}

	.b-home-links h2 {
		padding-bottom: 25px;
	}

	.b-sidebar { 
		h2 {
			line-height: 28px;
		}
		p {
			line-height: 24px;
		}
	}

	.paper_triangle {
		z-index: 1;
		display: block;
	}

	//Patient page 

	.b-secondary-nav {
		@include inline-block;
		position: relative;
		width: 51%;
		float: left;
		padding-top: 45px;
	}

	.b-content__inner {
		padding: 35px; 
	}

	.b-header {
		padding: 10px 10px 10px 13px;
		font-size: 19px;
	}

	.b-content__inner p {
		padding-bottom: 25px;
	}

	.b-content__inner h3 {
		font-size: 28px;
		padding-bottom: 30px;
	}

	.b-content__inner h4 {
		font-size: 20px;
	}

	.b-content__inner h5 {
		font-size: 14px;
		margin: 0;
	}

	.b-content__inner p.b-member-text {
		float: right;
		width: 80%
	}

	.scroll .b-content-text {
		//max-height: 100%;
	}

	.b-content-text {
		min-height: 100%;
	}

	.b-content-links li a:hover {
		background: #8c8c8c;
	}

	.b-content__text p {
		padding-bottom: 56px;
	}

	.b-content-links li a {
		padding: 10px 15px;
		margin-bottom: 16px;
		font-size: 19px;
	}

	.b-secondary-menu li a {
		font-family: $din_m;
		font-size: 14px;
		color: #bebebe;
		position: relative;
		margin-left: 15px;

	}

	ul.b-content-links {
		padding-bottom: 0;
	}

	ul.b-content-links li a {
		margin-bottom: 16px;
	}


	.b-secondary-menu li:first-child a:after {
		content: "";
		display: block;
		position: absolute;
		height: 13px;
		width: 2px;
		background: #8c8c8c;
		right: -10px;
		top: 3px;

	}

	.b-secondary-menu_green li a.active {
		color: $teal;
	}

	.b-secondary-menu_navy li a.active {
		color: $navy;
	}

	//Practitioners

	.b-org-logos {
		display: block;
		padding-top: 34px;
		margin-bottom: -19px;
	}

	.b-org-logo_aha {
		
		margin: 0 9px;
		margin-top: 10px;
		margin-bottom: 20px;

	}
	
	.b-org-logo_acof { 
		//float: right;
		margin: 0 9px;
		margin-bottom: 20px;

	}

	.b-sidebar  a.b-side-link {
		@include inline-block;
		font-size: 14px;
	}

	.b-pdf-link {
		display: none;
	}

	.b-back-button {
		width: 12%;
		@include transition(background 0.4s ease 0s)
	}

	.b-back-button:hover {
		background: #8c8c8c;
	}

	.b-pathway-item h1 {
		font-size: 36px;
	}

	.b-pathway-step {
		font-size: 21px;
	}

	.b-pathway-step-info {
		font-size: 18px;
	}

	.b-path-text h3 {
		font-size: 18px;
		padding: 10px 15px;

	}

	.b-pathway-step h2 {

		padding: 10px 20px;
	}

	.b-continue {
		font-size: 21px;
	}

	.b-chooseway-btn {
		padding: 10px 0;
		font-size: 18px;
	}

	a.b-chooseway-btn {
		padding: 10px 0;
		font-size: 18px;
	}

	.b-path-list_risk li {
		margin-top: 6px;
	}

	.b-path-text__text {
		padding: 20px;
	}

	.b-answer {
		font-size: 18px;
		margin: 0 4px;
		margin-bottom: 10px;
	}


	//NEW PATHWAYS

	.b-pathway-choice__header h2 {
		padding: 15px 20px;

	}

	.b-header-mark {
		width: 11px;
	}

	.b-pathway-step {
		p {
			padding: 10px 20px;
			padding-bottom: 0px;
		}

		ul {
			padding: 0 20px;
		}
	}

	//About

	.b-send-btn {
		font-size: 17px;
	}

	.b-content__text_about {
		padding-bottom: 35px;
	}

	//Resources

	.b-org-logos_res {
		margin-bottom: 0;
		padding-top: 0;
		span {
			float: left;
		}

		.b-org-logo_aha {
			@include sprite-link(logo_aha);
			margin-top: 4px;

		}

		.b-org-logo_acof {
			@include sprite-link(logo_acc);
		}
	}

	//Real people

	.b-people-info-container {
		position: fixed;
		width: auto;
		max-width: 1320px;
		top: 5%;
		bottom: 5%;
		left: 10%;
		right: 10%;
		height: auto;
		padding: 31px;
		padding-bottom: 0;
		background: #f7f6f6;
		z-index: 3;
	}

	.b-people-info-item {

		position: relative;

		img {
			margin-right: 0;
			margin-bottom: 0;
		}

		h2 {
			font-size: 29px;
			padding-top: 20px;

			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				height: 5px;
				background: $teal;
				display: block;
				width: 97%;
			}
		}

		h3 {
			font-size: 16px;

		}

		h4 {
			font-size: 14px;
			font-weight: 500;
			line-height: 22px;
		}


	}

	.b-close-people {
		@include sprite-link(close_people);
		position: absolute;
		right: -87px;
		top: 0;
		cursor: pointer;
	}

	.b-people-scroll {
		overflow-y: auto;
		position: relative;
		height: 96%;
		padding-right: 20px;
	}

	.b-img-container {
		float: left;
		padding-right: 20px;
		//padding-bottom: 20px;
		background: #f7f6f6;
		position: relative;
		z-index: 1;

	}

	.b-people-item {
		width: 20%;

		.b-people-item__img img {
			@include filter(grayscale(100%));
			filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
			filter: gray;
			@include transition(all 0.4s ease 0s);
			
		}

		&:hover .b-people-item__img img {
			@include filter(grayscale(0%));
			filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0'/></filter></svg>#grayscale");
			
		}

	}

	.b-lightbox-shadow {
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 2;
		@include rgba-background(rgba(0, 0, 0, 0.6));
		visibility: hidden;
		opacity: 0;
		@include transition(opacity 0.4s ease 0.2s, visibility 0.4s ease 0.2s);
	}

	.b-lightbox-shadow.show {
		opacity: 1;
		visibility: visible;
		@include transition(opacity 0.4s ease 0s, visibility 0.4s ease 0s);
	}

	//Member
	.b-member-img {
		float: left;
	}

	.b-members-container {
		
	}



	//Footer

	footer {
		//padding-top: 1%;
		text-align: left;
		height: 5%;
		margin: auto;
		@include box-sizing(border-box);
	}

	footer .b-footer-item {
		@include inline-block;

	}

	footer .b-footer-item:first-child {
		margin: 0;
	}

	footer .b-36-link {
		margin: 0;
		margin-top: -10px;
		position: absolute;
		right: 25px;
		top: 0;

	}

	.b-footer-column_left {
		width: 30%;
		float: left;
		margin-left: 10px;

	}

	.b-footer-column {
		@include inline-block;
	}

	.b-footer-column_right {
		width: 64%;
		float: right;
		position: relative;
	}

	footer .b-contact {
		width: 47%;
		float: left;
	}

	footer .b-privacy-links {
		width: 47%;
		float: right;
	}

	.b-patients-info-container {
		h4 {
			padding-bottom: 20px;
		}

	}


	.b-slider {
		position: fixed;
		left: 15%;
		right: 15%;
		top:5%;
		bottom: 5%;

	}

	.b-slider__content {
		overflow: hidden;
		overflow-y: auto;
	}
		
}



@media screen and (min-width: 960px) {
	.b-logo_destop {
			
		background-size: 200px;
		width: 200px;
	
	}

	footer .b-footer-item {
		
	}
	
}

	

@media screen and (min-width: 1200px) {
	.b-logo_destop {
		
		background-size: auto;

	}
	.b-logo_destop {
		width: 302px;
	}

}



@media screen and (min-width: 1320px) {
	.c-wrapper {
		max-width: 1320px;
		margin: auto;
	}

	footer {
		max-width: 1320px;

	}


}